﻿
@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <div class="row">
        <div class="col-sm-6">
            <h1 class="display-4">Welcome to Employee Management </h1>
            <p class="display-6"> This site is for employee management</p>
            <p class="display-6"> add employees to the database for easy management </p>
            <p class="display-6"> Managers can edit,delete,and add employee information </p>
        </div>
        <div class="col-sm-6">
            <img src="images/indeximg.jpg" alt="index"/>
        </div>
    </div>

</div>